.body{
    position: relative;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}
.item{
    margin-bottom: 10px;
}
.container{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.panel-title{
    margin-bottom: 25px;
}
.alert{
    margin-top: 10px;
}